@page "/Registro/Index"
@rendermode InteractiveServer
@inject PrestamoService prestamoService
@inject NavigationManager navigation


<PageTitle>Lista de Prestamos</PageTitle>
  <div class="container card shadow-lg"> 
		<div class="card-header bg-success text-white text-center">
			<h3><strong>Lista de Prestamos</strong></h3>
	  </div>
	  <div class="card-body">

			<div class="col-md-3 d-flex align-items-end justify-content-md-start mt-3 mt-md-0">
				<a href="/Prestamos/Create" class="btn btn-secondary bi bi-plus-square-fill"> Crear</a>
			</div>
		</div>

		  <div class="card-body">
		<table class="table table-light table-bordered">
			<thead class="table table-striped text-center table-bordered mt-3 bg-success text-white">
				<tr>  
					<th>Prestamo ID</th>
					<th>Concepto</th>
					<th>Deudor</th>
					<th>Monto</th>
					<th>Ver</th>  
					<th>Editar</th> 
					<th>Eliminar</th>
				</tr>
			</thead>

			<tbody>

					@foreach (var prestamo in prestamos )  
					{

						<tr>


							<td class="text-center">@prestamo.PrestamoId</td>
							<td class="text-center">@prestamo.Concepto</td>
							<td class="text-center">@prestamo.deudor</td>
							<td class="text-center">@prestamo.monto</td>

							@*Iconos y botones*@
							<td class="text-center">
								<a href="/Registro/Details/" class="btn btn-outline-info  bi bi-eye"></a>
							</td>
							<td class="text-center">
								<a href="/Registro/Edit/" class="btn btn-outline-warning  bi bi-pencil-square"></a>
							</td>
							<td class="text-center">
								<a href="/Registro/Delete/" class="btn btn-outline-danger bi bi-trash"></a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>









@code {

	public List<Prestamos> prestamos = new List<Prestamos>();



	

}
