@page "/"

<PageTitle>Prestamos</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header bg-success text-white text-center ">
			<div class="text-center">
				<h3><strong>Registro de Prestamos</strong></h3>
			</div>
		</div>
		<div class="card-header">
			<div class="card-center">
				<h3><strong>Bienvenido al registro de Prestamos!!</strong></h3>
				<h4>Primer Parcial</h4>
				<h4>Creado por Freimy Hidalgo </h4>
				<h4>Matr: 2022-0219</h4>
			</div>
		</div>
	</div>
</div>

  